# Ignoring files by extension
# All files with these extensions will be ignored in
# this directory and all its sub-directories.
*.vs
/Program/BLL/obj/Debug
/Program/DAL/obj/Release/DAL.csprojAssemblyReference.cache
/Program/BLL/bin/Debug
/Program/DAL/bin/Debug
/Program/DAL/obj/Debug
/Program/PL/bin/Debug
/Program/PL/obj/Debug
